<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期,%thread表示线程名,%-5level：级别从左显示5个字符宽度,%msg：日志消息,%n是换行符-->
            <!--<pattern>%/usr/nsyj{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{50} :: %msg%n</pattern>-->
            <pattern>%date %-5level --- [%-30t] %-40logger{40} : %msg%n</pattern>
        </encoder>
    </appender>

    <!--<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
            <!--<fileNamePattern>${attest.log.info.path}%d{yyyyMMdd}.%i.log</fileNamePattern>-->
            <!--&lt;!&ndash;日志文件保留天数&ndash;&gt;-->
            <!--<maxHistory>500</maxHistory>-->
            <!--&lt;!&ndash;日志大小&ndash;&gt;-->
            <!--<maxFileSize>100MB</maxFileSize>-->
            <!--&lt;!&ndash;日志文件保留总大小&ndash;&gt;-->
            <!--<totalSizeCap>800MB</totalSizeCap>-->
        <!--</rollingPolicy>-->
        <!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
            <!--<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level -&#45;&#45; [%-30t] %-40logger{40} : %msg%n</pattern>-->
            <!--<charset>UTF-8</charset>-->
        <!--</encoder>-->
    <!--</appender>-->

    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <!--<appender-ref ref="FILE"/>-->
    </root>
</configuration>
